@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}


<!-- Header -->
<header class="ex-header-smaller">
    <div class="container">
        <div class="row">
            <div class="col-xl-10 offset-xl-1">
                <h2>@ViewData["Title"]</h2>
            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</header> <!-- end of ex-header -->
<!-- end of header -->

<div class="ex-basic-1 pt-4">
    <div class="container">
        <div class="row">
            <div class="col-xl-10 offset-xl-1">
                <p>Your account has been successfully registered. <a class="blue" asp-area="Identity" asp-page="/Account/Login">Log in</a> to start managing your diet!</p>
            </div>
        </div>
    </div>
</div>
