@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
}


<!-- Header -->
<header class="ex-header-smaller">
    <div class="container">
        <div class="row">
            <div class="col-xl-10 offset-xl-1">
                <h1>@ViewData["Title"]</h1>
            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</header> <!-- end of ex-header -->
<!-- end of header -->

<div class="ex-basic-1 pt-4">
    <div class="container">
        <div class="row">
            <div class="col-xl-10 offset-xl-1">
                @{
                    if (@Model.DisplayConfirmAccountLink)
                    {
                        <p>
                            Finally, to use this account, you need to <a id="confirm-link" class="blue" href="@Model.EmailConfirmationUrl">confirm your registration</a>.
                        </p>
                    }
                    else
                    {
                        <p>
                            Please check your email to confirm your account.
                        </p>
                    }
                }
            </div>
        </div>
    </div>
</div>
