@model DietineWebApp.Models.BreakfastFood

@{ ViewData["Title"] = "Create"; }

<!-- Header -->
<header class="ex-header-smaller">
    <div class="container">
        <div class="row">
            <div class="col-xl-10 offset-xl-1">
                <h4>Add Breakfast Menu</h4>
            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</header> <!-- end of ex-header -->
<!-- end of header -->

<div class="ex-basic-1 pt-4">
    <div class="container">
        <div class="row">
            <div class="col-xl-10 offset-xl-1">

                <div class="row">
                    <div class="col-md-4">
                        <form asp-action="Add">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group">
                                <label asp-for="BFDate" class="control-label"></label>
                                <input asp-for="BFDate" type="date" value="@Model.BFDate" class="form-control" />
                                <span asp-validation-for="BFDate" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="BFName" class="control-label"></label>
                                <input asp-for="BFName" class="form-control" />
                                <span asp-validation-for="BFName" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="BFCaloriePerOunce" class="control-label"></label>
                                <input asp-for="BFCaloriePerOunce" class="form-control" />
                                <span asp-validation-for="BFCaloriePerOunce" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="BFGram" class="control-label"></label>
                                <input asp-for="BFGram" class="form-control" />
                                <span asp-validation-for="BFGram" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <input type="submit" value="Add" class="btn btn-primary" />
                            </div>
                        </form>
                    </div>
                </div>

                <div>
                    <a asp-action="Index">Back to List</a>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
