@model DietineWebApp.Models.BreakfastFood

@{ ViewData["Title"] = "Edit"; }
<!-- Header -->
<header class="ex-header-smaller">
    <div class="container">
        <div class="row">
            <div class="col-xl-10 offset-xl-1">
                <h1>Edit</h1>
            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</header> <!-- end of ex-header -->
<!-- end of header -->

<div class="ex-basic-1 pt-4">
    <div class="container">
        <div class="row">
            <div class="col-xl-10 offset-xl-1">

                <h4>BreakfastFood</h4>
                <hr />
                <div class="row">
                    <div class="col-md-4">
                        <form asp-action="Edit">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input type="hidden" asp-for="BreakfastFoodID" />
                            <div class="form-group">
                                <label asp-for="BFName" class="control-label"></label>
                                <input asp-for="BFName" class="form-control" />
                                <span asp-validation-for="BFName" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="BFCaloriePerOunce" class="control-label"></label>
                                <input asp-for="BFCaloriePerOunce" class="form-control" />
                                <span asp-validation-for="BFCaloriePerOunce" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="BFGram" class="control-label"></label>
                                <input asp-for="BFGram" class="form-control" />
                                <span asp-validation-for="BFGram" class="text-danger"></span>
                            </div>
                            <div class="form-group" hidden>
                                <label asp-for="BFTotalCalorie" class="control-label"></label>
                                <input asp-for="BFTotalCalorie" class="form-control" />
                                <span asp-validation-for="BFTotalCalorie" class="text-danger"></span>
                            </div>
                            <div class="form-group" hidden>
                                <label asp-for="BFDbFoodID" class="control-label"></label>
                                <input asp-for="BFDbFoodID" class="form-control" />
                                <span asp-validation-for="BFDbFoodID" class="text-danger"></span>
                            </div>
                            <div class="form-group" hidden>
                                <label asp-for="BFUserID" class="control-label"></label>
                                <input asp-for="BFUserID" class="form-control" hidden/>
                                <span asp-validation-for="BFUserID" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="BFDate" class="control-label"></label>
                                <input asp-for="BFDate" type="date" class="form-control" />
                                <span asp-validation-for="BFDate" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <input type="submit" value="Save" class="btn btn-primary" />
                            </div>
                        </form>
                    </div>
                </div>

                <div>
                    <a asp-controller="MealPlans" asp-action="Index" asp-route-date="@Model.BFDate">Back to Meal Plan</a>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
