@{ ViewData["Title"] = "Chia Seeds"; }

<!-- Header -->
<header class="ex-header">
    <div class="container">
        <div class="row">
            <div class="col-xl-10 offset-xl-1">
                <h1>Kenali Chia Seed, Makanan Sehat yang Mampu Menurunkan Berat Badan</h1>
            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</header> <!-- end of ex-header -->
<!-- end of header -->
<!-- Basic -->
<div class="ex-basic-1 pt-5 pb-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 d-flex justify-content-center">
                <img class="img-fluid mt-5 mb-3" style="height: 450px; aspect-ratio: 16 / 9; object-fit: cover;" src="~/images/artikel2.jpg" alt="alternative">
            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</div> <!-- end of ex-basic-1 -->
<!-- end of basic -->
<!-- Basic -->
<div class="ex-basic-1 pt-4">
    <div class="container">
        <div class="row">
            <div class="col-xl-10 offset-xl-1">
                <p><strong>Fimela.com, Jakarta </strong> Chia seeds menjadi salah satu makanan sehat yang tenar dan kekinian. Chia seeds biasanya menjadi komponen dalam smoothie bowl dan dicampur dengan buah-buahan. Biji hitam kecil ini, berasal dari tanaman berbunga dalam keluarga mint yang disebut salvia hispanica. Manfaatnya adalah sebagai pembangkit tenaga, bernutrisi, kaya akan protein (empat gram per porsi satu ons) dan asam lemak omega-3. Nilai plusnya, biji kaya nutrisi ini sarat dengan 11 gram serat per porsi, yang dapat membantu segala hal mulai dari penurunan berat badan hingga rasa kenyang.</p>
                <p>Dilansir dari womenshealthmag.com, “Banyak orang Amerika tidak memenuhi rekomendasi untuk asupan serat, dan memasukkan chia ke dalam cemilan dan resep bisa menjadi satu langkah untuk mendapatkan lebih banyak serat,” kata Cara Harbstreet, RD, dari Street Smart Nutrition. Namun, apakah benar chia seeds dapat menurunkan berat badan?</p>
                <p>Penelitian terus berkembang, tetapi ada bukti bahwa biji chia pasti bisa membantu. Ketika kelompok orang yang kelebihan berat badan dan obesitas mengonsumsi 35 gram tepung chia seeds sehari selama 12 minggu, kedua kelompok orang tersebut mengalami penurunan berat badan, melihat peningkatan pada lingkar pinggang, penurunan kolesterol, dan sedikit peningkatan HDL (kolesterol baik) , studi dikutip dari jurnal Nutrición Hospitalaria.</p>
                <p>Semua serat dalam biji chia pasti bisa membantu. Asupan serat yang meningkat dapat membantu tujuan penurunan berat badan, menurut sebuah penelitian yang diterbitkan dalam Annals of Internal Medicine.</p>
                <p>Chia seeds juga merupakan sumber protein yang baik, yang merupakan bagian penting dari teka-teki penurunan berat badan. Dalam sebuah penelitian yang diterbitkan dalam Nutrition Metabolism, pelaku diet yang meningkatkan asupan protein hingga 30 persen dari makanan mereka, makan hampir 450 kalori lebih sedikit setiap hari dan kehilangan sekitar 11 pon selama studi 12 minggu tanpa menggunakan tindakan diet lainnya.</p>
                <p>Kita juga bisa menggunakan biji chia untuk membantu memenuhi defisit kalori. Ketika sekelompok peserta studi makan yogurt dengan 7 atau 14 gram biji chia, mereka melaporkan merasa kurang lapar dan lebih kenyang, dan keinginan yang lebih rendah untuk makan makanan manis, menurut sebuah penelitian di jurnal Nutrition Research and Practice. Ini bisa membantu jika tubuh secara aktif berusaha menurunkan asupan kalori.</p>
                <p>Namun, pada akhirnya, penurunan berat badan adalah tentang memperhatikan keseluruhan diet dan rutinitas olahraga bukan tentang makan lebih banyak (atau lebih sedikit) dari satu makanan tertentu.</p>
                <p>"Tidak ada satu pun makanan atau bahan yang dapat melakukan itu, jadi jika kamu berharap chia dapat mengatasi masalah kesehatan atau menjadi katalisator untuk penurunan berat badan yang dramatis, saya sarankan untuk menghubungi ahli diet untuk mendukung tujuan pribadi Anda," kata Harbstreet.</p>
                <p class="mb-5">Itu juga berarti biji chia tidak akan membantu kamu membakar lemak perut atau secara ajaib meningkatkan metabolisme tubuh tanpa adanya usaha untuk olahraga.</p>
            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</div> <!-- end of ex-basic-1 -->
<!-- end of basic -->
<!-- Basic -->
<div class="ex-basic-1 pt-3 pb-5">
    <div class="container">
        <div class="row">
            <div class="col-xl-10 offset-xl-1">
                <a class="btn-solid-reg mb-5" target="_blank" href="https://www.fimela.com/lifestyle-relationship/read/4492832/kenali-chia-seed-makanan-sehat-yang-mampu-menurunkan-berat-badan">Disadur dari Fimela</a>
            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</div> <!-- end of ex-basic-1 -->
<!-- end of basic -->