@{ ViewData["Title"] = "Bahaya Apel"; }


<!-- Header -->
<header class="ex-header">
    <div class="container">
        <div class="row">
            <div class="col-xl-10 offset-xl-1">
                <h1>5 Bahaya Mengonsumsi Apel Secara Berlebihan yang Perlu Diketahui</h1>
            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</header> <!-- end of ex-header -->
<!-- end of header -->
<!-- Basic -->
<div class="ex-basic-1 pt-5 pb-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 d-flex justify-content-center">
                <img class="img-fluid mt-5 mb-3" style="height: 450px; aspect-ratio: 16 / 9; object-fit: cover;" src="~/images/artikel3.jpg" alt="alternative">
            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</div> <!-- end of ex-basic-1 -->
<!-- end of basic -->
<!-- Basic -->
<div class="ex-basic-1 pt-4">
    <div class="container">
        <div class="row">
            <div class="col-xl-10 offset-xl-1">
                <p>Apel merupakan buah yang banyak digemari karena rasanya yang lezat. Buah ini juga memiliki berbagai macam khasiat yang baik untuk tubuh. Apel memiliki senyawa flavonoid yang mampu melindungi tubuh dari penyakit kolesterol serta melawan oksidasi lipid.</p>
                <p>Apel juga kaya akan serat yang membantu melancarkan pencernaan dan membuat tubuh lebih cepat kenyang. Oleh karena itu, apel cocok dimakan sebagai salah satu menu diet. Bahkan banyak orang yang sudah mengonsumsi apel untuk program dietnya.</p>
                <p>Selain itu, apel juga dipercaya dapat mengatasi asam lambung karena kandungan pektin, kalsium, magnesium, dan kalium di dalamnya. Sehingga jika mengonsumsi apel setelah makan, kandungan asam di dalam lambung akan berubah menjadi netral.</p>
                <p class="mb-4">Untuk lebih jelasnya, kali ini akan diulas 5 bahaya mengonsumsi apel secara berlebihan. Dilansir dari Fimela.com, simak ulasan selengkapnya berikut ini.</p>

                <h4 class="mb-3">Masalah Pencernaan</h4>
                <p>Apel mengandung banyak serat yang baik untuk tubuh. Kandungan serat juga sangat dibutuhkan tubuh untuk melancarkan pencernaan. Tapi jika memakan banyak apel dalam sehari dan seterusnya, tubuh akan menerima serat berlebih. Hal itu akan berdampak negatif pada tubuh, seperti sembelit dan kembung.</p>
                <p class="mb-4">Biasanya orang memakan apel sebanyak 20 hingga 40 gram dalam sehari. Ukuran tersebut tentunya juga disesuaikan berdasrkan usia dan jenis kelamin. Hindari memakan apel lebih dari 70 gram dalam sehari. Jika ingin mendapat serat, sebaiknya cari jenis makanan lain, seperti sayuran dan biji-bijian.</p>

                <h4 class="mb-3">Berpotensi Merusak Gigi</h4>
                <p>Apel memiliki kandungan asam yang dapat merusak gigi. Ada sebuah penelitian yang menyatakan bahwa apel mengandung asam malat sekitar 90 persen dari total asam organik.</p>
                <p class="mb-4">Jika memakan apel dalam jumlah banyak per hari, hal itu akan menimbulkan dampak negatif pada gigi. Agar terhindar dari kerusakan gigi, disarankan hanya memakan satu apel dalam sehari. Cara lainnya yakni dengan memakan buah apel bersama makanan lain sebagai camilan, dan dikunyah dengan gigi belakang.</p>

                <h4 class="mb-3">Pemicu Obesitas</h4>
                <p>Kandungan karbohidrat pada apel sangat bermanfaat untuk kesehatan tubuh. Karbohidrat tersebut dapat menambah tenaga untuk melakukan aktivitas sehari-hari. Banyak pakar kesehatan yang merekomendasikan apel untuk dikonsumsi.</p>
                <p class="mb-4">Tetapi jika dikonsumsi setiap hari secara berlebihan, tubuh akan mengalami kenaikan berat badan karena penumpukan lemak. Hal itu karena tubuh membakar karbohidrat lebih dulu. Dengan memakan banyak apel, maka akan membatasi tubuh untuk membakar lemak. Sehingga proses penurunn berat badan menjadi terhambat.</p>

                <h4 class="mb-3">Mengonsumsi Peptisida secara Tidak Langsung</h4>
                <p>Apel menjadi salah satu buah-buahan yang terpapar pestisida tertinggi setiap tahunnya. Pestisida adalah zat kimia yang digunakan untuk membasmi hama pada tumbuhan. Jika seseorang mengonsumsi terlalu banyak apel, maka secara tidak langsung ia juga konsumsi bahan kimia dalam jumlah banyak.</p>
                <p class="mb-4">Mencuci buah sebelum makan saja tidak cukup untuk menghilangkan pestisida. Sebab, pestisida mampu menyerah hingga ke lapisan dalam buah. Berdasarkan analisis dari Alliance for Food and Farming (AFF), wanita mampu mengonsumsi hingga 850 buah apel sebelum mengetahui pestisida berdampak buruk bagi tubuh.</p>

                <h4 class="mb-3">Kadar Gula Darah Menjadi Tidak Stabil</h4>
                <p>Kandungan karbohidrat yang tinggi dalam apel membuat tubuh mengalami kadar gula darah yang berubah-ubah. Kondisi ini sangat berbahaya bagi seseorang yang memiliki penyakit diabetes atau kesehatan metabolik yang buruk. </p>
                <p class="mb-5">Mengonsumsi apel memang dapat menambah energi pada tubuh. Hal tersebut mungkin juga terjadi peningkatan suasana hati karena membantu tubuh melepaskan neurotrasmiter, seperti serotonin. Tetapi jika terlalu banyak dikonsumsi, akan memberikan gula berlebih yang dapat memperburuk sensitivitas insulin.</p>
            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</div> <!-- end of ex-basic-1 -->
<!-- end of basic -->
<!-- Basic -->
<div class="ex-basic-1 pt-3 pb-5">
    <div class="container">
        <div class="row">
            <div class="col-xl-10 offset-xl-1">
                <a class="btn-solid-reg mb-5" target="_blank" href="https://www.fimela.com/lifestyle-relationship/read/4521235/5-bahaya-mengonsumsi-apel-secara-berlebihan-yang-perlu-diketahui">Disadur dari Fimela</a>
            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</div> <!-- end of ex-basic-1 -->
<!-- end of basic -->