@{ ViewData["Title"] = "Makanan Detoksifikasi"; }

<!-- Header -->
<header class="ex-header">
    <div class="container">
        <div class="row">
            <div class="col-xl-10 offset-xl-1">
                <h1>5 Makanan yang Berkhasiat untuk Detoksifikasi Racun dalam Tubuh</h1>
            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</header> <!-- end of ex-header -->
<!-- end of header -->
<!-- Basic -->
<div class="ex-basic-1 pt-5 pb-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 d-flex justify-content-center">
                <img class="img-fluid mt-5 mb-3" style="height: 450px; aspect-ratio: 16 / 9; object-fit: cover;" src="~/images/artikel4.jpg" alt="alternative">
            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</div> <!-- end of ex-basic-1 -->
<!-- end of basic -->
<!-- Basic -->
<div class="ex-basic-1 pt-4">
    <div class="container">
        <div class="row">
            <div class="col-xl-10 offset-xl-1">
                <p>Fakta menarik tentang tubuh kita adalah memiliki kemampuan untuk melakukan auto detoksifikasi terhadap racun yang berasal dari makanan dan lingkungan luar. Tubuh biasanya akan memerlukan detoksifikasi atau proses membuang racun yang ada di dalam tubuh. Sebagai contohnya, pada saat puasa, tubuh bisa melakukan detoksifikasi secara alami.</p>
                <p>Pada saat puasa kita tentu tidak akan mengonsumsi makanan dan minuman selama beberapa jam. Saat itu sistem pencernaan akan beristirahat sebentar untuk mencerna makanan dan minuman.</p>
                <p>Saat sistem pencernaan beristirahat, tubuh akan melakukan detoksifikasi secara alami, dan dan mengatur fungsi ulang organ-organ tubuh. Racun yang ada di dalam tubuh biasanya akan dikeluarkan secara alami oleh tubuh melalui keringat dan juga pada saat buang air besar maupun buang air kecil.</p>
                <p class="mb-4">Untuk lebih jelasnya, kali ini akan diulas 5 makanan yang berkhasiat untuk detoksifikasi racun dalam tubuh. Dilansir dari Fimela.com, simak ulasan selengkapnya berikut ini.</p>

                <h4 class="mb-3">Sayuran Hijau</h4>
                <p>Jenis makanan seperti sayuran hijau akan sangat baik untuk membantu tubuh detoksifikasi secara alami. Sayuran hijau baik dikonsumsi saat buka puasa dan sahur. Sayuran hijau memiliki kandungan vitamin dan mineral, yang sangat bermanfaat untuk kesehatan tubuh, seperti membantu proses detoksifikasi tubuh secara alami.</p>
                <p>Selain itu, sayuran hijau juga memiliki kandungan antioksidan. Antioksidan bisa membantu menangkal radikal bebas, yang merupakan racun tubuh perusak sel-sel di dalam tubuh.</p>
                <p>Sayuran hijau yang baik untuk membantu detoksifikasi tubuh adalah bayam, brokoli, pare dan lain-lain. Kandungan serat dalam sayuran hijau juga cukup tinggi.</p>
                <p class="mb-4">Serat akan baik untuk membantu memperlancar sistem pencernaan di dalam tubuh, dan membantu tubuh mendetoksifikasi racun secara alami.</p>

                <h4 class="mb-3">Buah Nanas</h4>
                <p>Jenis makanan bantu detoksifikasi racun dalam tubuh yang selanjutnya adalah buah nanas. Nanas merupakan buah yang memiliki rasa asam.</p>
                <p>Jika mengonsumsi buah nanas saat buka puasa atau sahur, bisa membantu memperlancar proses detoksifikasi di dalam tubuh. Mengonsumsi buah nanas akan menambah nutrisi di dalam tubuh seperti vitamin C, vitamin B6, vitamin B1 dan folat.</p>
                <p>Buah nanas juga memiliki enzim bromelain yang berfungsi untuk membuat sistem pencernaan menjadi lebih lancar. Enzim ini akan membantu usus untuk menyerap protein lebih banyak, dan membantu meringankan penyakit perut.</p>
                <p class="mb-4">Kandungan serat yang ada di dalam nanas, juga bisa membantu memperlancar sistem pencernaan, sehingga proses detoksifikasi akan lebih lancar.</p>

                <h4 class="mb-3">Apel</h4>
                <p>Apel merupakan salah satu jenis makanan yang bantu detoksifikasi racun dalam tubuh yang selanjutnya. Apel juga aman dikonsumsi saat sahur maupun berbuka puasa.</p>
                <p>Apel memiliki kandungan fiber, vitamin dan mineral. Apel juga mengandung pectin dan phytochemical yang baik untuk detoksifikasi.</p>
                <p class="mb-4">Selain itu, apel juga memiliki kandungan serat, dan mengandung mineral, yang bisa membantu memperlancar sistem pencernaan. Jika mengonsumsi apel, jangan lupa mengonsumsi kulit apelnya juga. Karena kulit apel memiliki kandungan vitamin C dan serat.</p>

                <h4 class="mb-3">Buah Lemon</h4>
                <p>Lemon, merupakan jenis makanan yang baik untuk detoksifikasi racun dalam tubuh. Jika dikonsumsi saat buka puasa dan sahur. Buah lemon memiliki kandungan vitamin C, dan mengandung senyawa antioksidan yang bisa mencegah racun yang ada di dalam tubuh.</p>
                <p class="mb-4">Mengonsumsi buah lemon saat buka puasa atau sahur, akan dapat membantu membersihkan usus, sehingga sistem pencernaan pada tubuh lancar. Konsumsilah buah lemon dengan menggunakan air hangat, imbangi dengan berolahraga secara rutin. Agar proses detoksifikasi menjadi lancar.</p>

                <h4 class="mb-3">Buah Alpukat</h4>
                <p>Jenis makanan untuk bantu detoksifikasi tubuh yang terakhir adalah alpukat. Buah alpukat memiliki nutrisi dan gizi yang baik untuk tubuh.</p>
                <p>Alpukat juga memiliki kandungan karbohidrat yang tinggi. Alpukat bisa dijadikan makanan pengganti nasi. Alpukat sangat baik dikonsumsi saat buka puasa maupun sahur, untuk membantu tubuh melakukan proses detoksifikasi.</p>
                <p class="mb-5">Selain itu, alpukat juga memiliki kandungan serat yang tinggi sehingga bisa membantu memperlancar sistem pencernaan dalam tubuh, dan pastinya akan membuat tubuh kenyang lebih lama.</p>
            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</div> <!-- end of ex-basic-1 -->
<!-- end of basic -->
<!-- Basic -->
<div class="ex-basic-1 pt-3 pb-5">
    <div class="container">
        <div class="row">
            <div class="col-xl-10 offset-xl-1">
                <a class="btn-solid-reg mb-5" target="_blank" href=" https://www.fimela.com/lifestyle-relationship/read/4518722/5-makanan-yang-berkhasiat-untuk-detoksifikasi-racun-dalam-tubuh">Disadur dari Fimela</a>
            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</div> <!-- end of ex-basic-1 -->
<!-- end of basic -->