@{ ViewData["Title"] = "Madu dan Manfaatnya"; }

<!-- Header -->
<header class="ex-header">
    <div class="container">
        <div class="row">
            <div class="col-xl-10 offset-xl-1">
                <h1>5 Manfaat Kombinasi Madu yang Mengejutkan, Bantu Atasi Sinus hingga Jerawat</h1>
            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</header> <!-- end of ex-header -->
<!-- end of header -->
<!-- Basic -->
<div class="ex-basic-1 pt-5 pb-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 d-flex justify-content-center">
                <img class="img-fluid mt-5 mb-3" style="height: 450px; aspect-ratio: 16 / 9; object-fit: cover;" src="~/images/artikel5.jpg" alt="Honey">
            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</div> <!-- end of ex-basic-1 -->
<!-- end of basic -->
<!-- Basic -->
<div class="ex-basic-1 pt-4">
    <div class="container">
        <div class="row">
            <div class="col-xl-10 offset-xl-1">
                <p>Siapa yang tidak kenal dengan produk berkhasiat yang satu ini, madu namanya. Madu merupakan produk dari lebah yang diikenal dengan beragam manfaat bagi kesehatan.  Madu mempunyai kandungan gizi seperti mineral dan vitamin, yang didapatkan dari lebah. Sementara, rasa manisnya berasal dari unsur monosakarida fruktosa dan glukosa yang lebih baik ketimbang gula.</p>
                <p>Madu juga bermanfaat jika dicampurkan dengan bahan lain, seperti lemon, cuka sari apel, kayu manis, cengkih, dan jahe. Kombinasi madu ini sejak dulu sering dimanfaatkan sebgai bahan racikan obat-obatan tradisional.</p>
                <p>Cakupan manfaat dari madu tidak hanya untuk kecantikan tubuh, tetapi juga bermanfaat untuk menjaga kesehatan tubuh sekaligus mengobat beragam penyakit. Sebut saja penyakit sinusitis hingga jerawat bisa diredakan dengan kombinasi madu.</p>
                <p class="mb-4">Untuk lebih jelasnya, kali ini akan diulas 5 manfaat kombinasi madu yang mengejutkan. Dilansir dari Fimela.com, simak ulasan manfaat selengkapnya berikut ini.</p>

                <h4 class="mb-3">Madu dan Lemon</h4>
                <p>Keduanya menjadi solusi terbaik yang memegang peran penting untuk menangani masalah kesehatan, khususnya pencernaan dan kulit. Jika kamu menderita gangguan pencernaan, minumlah jus lemon dengan madu untuk meredakan sakit. Lemon mengandung antioksidan yang mengeluarkan racun dari tubuh, sedangkan madu membantu pertumbuhan bakteri baik pada usus yang membantu proses pencernaan.</p>
                <p>Cara mengonsumsinya, tambahkan empat hingga lima tetes madu dan sesendok jus lemon segar lalu campurkan hingga menyatu. Minum ramuan itu setiap pagi untuk hasil lebih baik.</p>
                <p class="mb-4">Tidak hanya itu, kombinasi madu dan lemon juga membantu masalah kulit seperti jerawat. Lemon mengandung antioksidan yang membersihkan racun dari tubuh dan madu memberikan efek menenangkan pada kulit. Cara pemakaiannya cukup mencampurkan madu dan jus lemon dengan takaran yang sama. Lalu, oleskan campuran tadi pada jerawat. Tunggu selama 10 menit, lalu bilas.</p>

                <h4 class="mb-3">Madu dan Cuka Sari Apel</h4>
                <p>Kombinasi ini membantu meredakan berbagai masalah kesehatan, seperti asam urat dan ketombe. Masalah asam urat disebabkan karena peningkatnya kadar asam urat dalam tubuh. Caranya dengan menambahkan satu sendok teh cuka sari apel dan madu ke dalam segelas air hangat, lalu diminum setiap hari untuk meredakan nyeri.</p>
                <p class="mb-4">Untuk masalah ketombe, cuka sari apel mengandung enzim kuat yang membantu membunuh bakteri dan jamur penyebab ketombe. Cara pemakaiannya adalah mengoleskan campuran madu dan cuka sari apel, lalu pijat kepala dengan lembut. Setelah itu, bungkus rambut menjadi sanggul dan tutupi handuk hangat. </p>

                <h4 class="mb-3">Madu dan Kayu Manis</h4>
                <p>Kombinasi sempurna yang mengandung sifat antibakteri. Selain itu, perpaduan dua bahan ini dapat membantu menyehatkan jantung karena pada kayu manis memiliki kandungan serat dan kalsium. Kandungan ini membantu mengangkut garam empedu keluar dengan memecah kolesterol, sehingga melindungi jantung dari berbagai komplikasi.</p>
                <p class="mb-4">Caranya, tambahkan bubuk kayu manis ke dalam secangkir air mendidih, lalu saring bahannya dan tambahkan satu sendok teh madu ke dalam minuman tersebut. Minumlah larutan ini pada setengah jam sebelum makan sarapan pagi.</p>

                <h4 class="mb-3">Madu dan Cengkeh</h4>
                <p>Campuran  ini sangat ampuh untuk mengatasi sakit tenggorokan dan sariawan. Madu bekerja melapisi tenggorokan dan memicu saraf yang mengurangi implus batuk. Sementara, cengkih memiliki senyawa antibakteri untuk mengurangi rasa sakit dan infeksi yang berhubungan dengan sakit tenggorokan.</p>
                <p class="mb-4">Cara menyiapkannya cukup tambahkan dua atau tiga siung cengkih dalam satu sendok makan pada madu dan diamkan selama empat jam. Setelah itu, angkat cengkih dan hirup madu dengan perlahan. Lakukan ini secara teratur untuk meredakan sakit tenggorokan denga cepat.</p>

                <h4 class="mb-3">Madu dan Jahe</h4>
                <p>Madu dan jahe sangat berperan sebagai obat alami yang ampuh untuk meredakan berbagai masalah kesehatan, seperti migrain dan sinusitis. Senyawa anti-inflamasi yang ada dalam jahe dapat menghambat sintesis prostaglandin, yang menyebabkan peradangan dan nyeri sehingga meredakan sakit kepala atau migrain.</p>
                <p>Cara menyiapkannya adalah dengan memarut atau memotong jahe menjadi beberapa bagian, lalu masukan ke dalam cangkir air yang sudah mendidih dan biarkan selama sekitar 10 hingga 15 menit. Jangan lupa tambahkan madu ke larutan dan minum, cara ini untuk bantuan instan dari migrain.</p>
                <p class="mb-5">Sinus dikenal mempunyai sifat ekspektoran, kondisi tenggorokan berdahak atau berlendir. Jahe dapat meredakan sinus yang tersumbat, karena kehadiran senyawa antibakteri dalam madu membantu menghilangkan infeksi. Caranya campurkan satu sendok teh, bubuk jahe kering dengan setengah sendok madu.</p>
            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</div> <!-- end of ex-basic-1 -->
<!-- end of basic -->
<!-- Basic -->
<div class="ex-basic-1 pt-3 pb-5">
    <div class="container">
        <div class="row">
            <div class="col-xl-10 offset-xl-1">
                <a class="btn-solid-reg mb-5" target="_blank" href="https://www.fimela.com/lifestyle-relationship/read/4512550/5-manfaat-kombinasi-madu-yang-mengejutkan-bantu-atasi-sinus-hingga-jerawat">Disadur dari Fimela</a>
            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</div> <!-- end of ex-basic-1 -->
<!-- end of basic -->