@{ ViewData["Title"] = "Ide Sahur"; }

<!-- Header -->
<header class="ex-header">
    <div class="container">
        <div class="row">
            <div class="col-xl-10 offset-xl-1">
                <h1>5 Ide Makan Sahur Simpel dan Sehat Jika Tak Punya Banyak Waktu</h1>
            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</header> <!-- end of ex-header -->
<!-- end of header -->
<!-- Basic -->
<div class="ex-basic-1 pt-5 pb-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 d-flex justify-content-center">
                <img class="img-fluid mt-5 mb-3 mx-auto" style="height: 450px; aspect-ratio: 16 / 9; object-fit: cover;" src="~/images/artikel1.jpg" alt="Foods in Table">
            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</div> <!-- end of ex-basic-1 -->
<!-- end of basic -->
<!-- Basic -->
<div class="ex-basic-1 pt-4">
    <div class="container">
        <div class="row">
            <div class="col-xl-10 offset-xl-1">
                <p><strong>Fimela.com, Jakarta </strong> Bangun di tengah malam untuk makan sahur terkadang menjadi tantangan tersendiri bagi sebagian orang. Tidak jarang banyak orang melewatkan waktu sahur karena terlalu merepotkan menyiapkan makan sahur sehingga memutuskan melanjutkan tidur, apalagi jika masih harus bekerja di pagi harinya.</p>
                <p class="mb-5">Jika kamu termasuk dalam kelompok ini, mungkin kamu butuh makanan-makanan 'cepat saji' yang sehat dan praktis disiapkan sehingga tetap bisa menyempatkan makan sahur meski waktunya tidak banyak. Berikut ini sekian makanan yang simpel namun tetap sehat dimakan saat tak banyak waktu untuk sahur.</p>
            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</div> <!-- end of ex-basic-1 -->
<!-- end of basic -->
<!-- Cards -->
<div class="ex-cards-1 pt-3 pb-3">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <!-- Card -->
                <div class="card">
                    <ul class="list-unstyled">
                        <li class="media">
                            <div class="media-body">
                                <h5>Susu</h5>
                                <p>Menyempatkan minum susu sebenarnya sudah lebih baik daripada melewatkan sahur dan tidak makan sama sekali. Cukup segelas susu dingin maupun hangat sudah mampu mengganjal perut untuk puasa sekaligus memenuhi nutrisi yang dibutuhkan tubuh.</p>
                            </div>
                        </li>
                    </ul>
                </div> <!-- end of card -->
                <!-- end of card -->
                <!-- Card -->
                <div class="card">
                    <ul class="list-unstyled">
                        <li class="media">
                            <div class="media-body">
                                <h5>Telur</h5>
                                <p>Malas masak tapi ingin tetap makan enak? Kamu hanya perlu merebus beberapa telur atau memasaknya dengan cara digoreng dengan sedikit minyak. Tidak butuh banyak bahan namun gizinya tetap tinggi untuk makan sahur.</p>
                            </div>
                        </li>
                    </ul>
                </div> <!-- end of card -->
                <!-- end of card -->
                <!-- Card -->
                <div class="card">
                    <ul class="list-unstyled">
                        <li class="media">
                            <div class="media-body">
                                <h5>Buah-buahan</h5>
                                <p>Siapkan berbagai macam buah-buahan di rumah terutama yang manis dan mengenyangkan seperti pisang, alpukat, apel, melon, pir, pepaya dan kurma. Akan lebih baik lagi jika kamu menyetok buah-buahan yang kamu sukai agar lebih berselera saat makan.</p>
                            </div>
                        </li>
                    </ul>
                </div> <!-- end of card -->
                <!-- end of card -->
                <!-- Card -->
                <div class="card">
                    <ul class="list-unstyled">
                        <li class="media">
                            <div class="media-body">
                                <h5>Oatmeal</h5>
                                <p>Beli oatmeal dan cukup diseduh air panas, kamu bisa menyantapnya dengan buah pisang, telur mata sapi, atau bahkan dengan susu dan madu. Oatmeal cukup praktis, sehat dan mengenyangkan untuk menu sahur.</p>
                            </div>
                        </li>
                    </ul>
                </div> <!-- end of card -->
                <!-- end of card -->
                <!-- Card -->
                <div class="card">
                    <ul class="list-unstyled">
                        <li class="media">
                            <div class="media-body">
                                <h5>Roti gandum</h5>
                                <p>Jika suka makan roti, akan lebih baik jika menyediakan roti tawar gandum dan selai favorit. Kamu bisa makan roti selai dengan air hangat untuk menu sahur yang berserat, sederhana namun tidak makan waktu lama menyiapkannya.</p>
                            </div>
                        </li>
                    </ul>
                </div> <!-- end of card -->
                <!-- end of card -->

            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</div> <!-- end of ex-cards-1 -->
<!-- end of cards -->
<!-- Basic -->
<div class="ex-basic-1 pt-3 pb-5">
    <div class="container">
        <div class="row">
            <div class="col-xl-10 offset-xl-1">
                <p class="mb-5">Itu dia sekian ide menu sahur praktis dan sehat jika kamu tak punya banyak waktu untuk memasak selama Ramadan. Yuk tetap makan sahur agar lebih kuat puasanya.</p>
                <a class="btn-solid-reg mb-5" target="_blank" href="https://www.fimela.com/lifestyle-relationship/read/4537167/5-ide-makan-sahur-simpel-dan-sehat-jika-tak-punya-banyak-waktu">Disadur dari Fimela</a>
            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</div> <!-- end of ex-basic-1 -->
<!-- end of basic -->