@{ ViewData["Title"] = "Article"; }

<!-- Title dan Artikel 1-->
<header class="header-smaller">
    <div id="details" class="basic-2">
        <div class="container">
            <div class="row">
                <div class="col-lg-9">
                    <div class="intro">
                        <h2>Read our favorites articles from some sources!</h2>
                        <p>
                            We gather some light articles for you to read to know better about your health and nutrition intake.
                        </p>
                    </div>
                    <!-- end of intro -->
                </div>
                <!-- end of col -->
            </div>
            <!-- end of row -->
        </div>
        <!-- end of container -->
    </div>
</header>

<div class="basic-3">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 d-flex justify-content-center align-items-center">
                <div class="image-container">
                    <img class="img-fluid" style="height: 400px; aspect-ratio: 5 / 4; object-fit: cover; margin-top: 4rem" src="~/images/artikel1.jpg" alt="alternative" />
                </div>
                <!-- end of image-container -->
            </div>
            <!-- end of col -->
            <div class="col-lg-6">
                <div class="text-container">
                    <div class="section-title">Disadur dari Fimela.com</div>
                    <h2>5 Ide Makan Sahur Simpel dan Sehat Jika Tak Punya Banyak Waktu</h2>
                    <p><strong>Fimela.com, Jakarta </strong> Bangun di tengah malam untuk makan sahur terkadang menjadi tantangan tersendiri bagi sebagian orang. Tidak jarang ...</p>
                    <a class="btn-solid-lg" asp-action="Article1">Read More</a>
                </div>
                <!-- end of text-container -->
            </div>
            <!-- end of col -->
        </div>
    </div>
</div>

<!-- end of row -->
<!-- end of basic-2 -->
<!-- end of details 1 -->
<!-- Artikel 2 -->
<div class="basic-3">
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <div class="text-container">
                    <div class="section-title">Disadur dari Fimela.com</div>
                    <h2>Kenali Chia Seed, Makanan Sehat yang Mampu Menurunkan Berat Badan</h2>
                    <p>
                        <strong>Fimela.com, Jakarta </strong> Chia seeds menjadi salah satu makanan sehat yang tenar dan kekinian. Chia seeds biasanya menjadi komponen dalam smoothie bowl dan dicampur dengan buah-buahan. Biji hitam kecil
                        ini, berasal dari tanaman berbunga dalam ...
                    </p>
                    <a class="btn-solid-lg" asp-action="Article2">Read More</a>
                </div>
                <!-- end of text-container -->
            </div>
            <!-- end of col -->
            <div class="col-lg-7">
                <div class="image-container">
                    <img class="img-fluid" style="height: 400px; aspect-ratio: 5 / 4; object-fit: cover; margin-top: 4rem" src="~/images/artikel2.jpg" alt="alternative" />
                </div>
                <!-- end of image-container -->
            </div>
            <!-- end of col -->
        </div>
        <!-- end of row -->
    </div>
    <!-- end of container -->
</div>

<!-- Artikel 3 -->
<div class="basic-3">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 d-flex justify-content-center align-items-center">
                <div class="image-container">
                    <img class="img-fluid" style="height: 400px; aspect-ratio: 5 / 4; object-fit: cover; margin-top: 4rem" src="~/images/artikel3.jpg" alt="alternative" />
                </div>
                <!-- end of image-container -->
            </div>
            <!-- end of col -->
            <div class="col-lg-6">
                <div class="text-container">
                    <div class="section-title">Disadur dari Fimela.com</div>
                    <h2>5 Bahaya Mengonsumsi Apel Secara Berlebihan yang Perlu Diketahui</h2>
                    <p>
                        Apel merupakan buah yang banyak digemari karena rasanya yang lezat. Buah ini juga memiliki berbagai macam khasiat yang baik untuk tubuh. Apel memiliki senyawa ...
                    </p>
                    <a class="btn-solid-lg" asp-action="Article3">Read More</a>
                </div>
                <!-- end of text-container -->
            </div>
            <!-- end of col -->
        </div>
        <!-- end of row -->
    </div>
    <!-- end of container -->
</div>

<!-- Artikel 4 -->
<div class="basic-3">
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <div class="text-container">
                    <div class="section-title">Disadur dari Fimela.com</div>
                    <h2>5 Makanan yang Berkhasiat untuk Detoksifikasi Racun dalam Tubuh</h2>
                    <p>
                        Fakta menarik tentang tubuh kita adalah memiliki kemampuan untuk melakukan auto detoksifikasi terhadap racun yang berasal dari makanan dan lingkungan luar. Tubuh biasanya akan memerlukan ...
                    </p>
                    <a class="btn-solid-lg" asp-action="Article4">Read More</a>
                </div>
                <!-- end of text-container -->
            </div>
            <!-- end of col -->
            <div class="col-lg-7">
                <div class="image-container">
                    <img class="img-fluid" style="height: 400px; aspect-ratio: 5 / 4; object-fit: cover; margin-top: 4rem" src="~/images/artikel4.jpg" alt="alternative" />
                </div>
                <!-- end of image-container -->
            </div>
            <!-- end of col -->
        </div>
        <!-- end of row -->
    </div>
    <!-- end of container -->
</div>
<!-- end of basic-3 -->
<!-- end of details 2 -->
<!-- Artikel 5 -->
<div class="basic-3">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 d-flex justify-content-center align-items-center">
                <div class="image-container">
                    <img class="img-fluid" style="height: 400px; aspect-ratio: 5 / 4; object-fit: cover; margin-top: 4rem" src="~/images/artikel5.jpg" alt="alternative" />
                </div>
                <!-- end of image-container -->
            </div>
            <!-- end of col -->
            <div class="col-lg-5">
                <div class="text-container">
                    <div class="section-title">Disadur dari Fimela.com</div>
                    <h2>5 Manfaat Kombinasi Madu yang Mengejutkan, Bantu Atasi Sinus hingga Jerawat</h2>
                    <p>
                        Siapa yang tidak kenal dengan produk berkhasiat yang satu ini, madu namanya. Madu merupakan produk dari lebah yang dikenal dengan beragam manfaat bagi kesehatan. Madu mempunyai kandungan ...
                    </p>
                    <a class="btn-solid-lg" asp-action="Article5">Read More</a>
                </div>
                <!-- end of text-container -->
            </div>
            <!-- end of col -->
        </div>
        <!-- end of row -->
    </div>
    <!-- end of container -->
</div>