@{
    ViewData["Title"] = "Home Page";
}

@*<div class="text-center">
    <h1 class="display-4">Welcome to Dietine</h1>
    <p>Schedule your diet with us!</p>
</div>*@

<!-- Header -->
<header id="header" class="header">
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <div class="text-container">
                    <h1 class="h1-large">Schedule your meal and have a great day</h1>
                    <p class="p-large">Dietine helps you to manage your daily meal plan.</p>
                    <a class="btn-solid-lg" asp-area="Identity" asp-page="/Account/Register">Sign up for free</a>
                    @*<a class="btn-outline-lg page-scroll" href="#intro">Discover</a>*@
                </div> <!-- end of text-container -->
            </div> <!-- end of col -->
            <div class="col-lg-7">
                <div class="image-container">
                    <img class="img-fluid" src="images/header.png" alt="alternative">
                </div> <!-- end of image-container -->
            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</header> <!-- end of header -->
<!-- end of header -->