@model IEnumerable<Dietine.Models.MakananModel>

@{
    ViewData["Title"] = "Index";
}

<h1>This is the index of Makanan</h1>

@if(Model.Count() > 0) 
{ 
    <ul>
        @foreach(var obj in Model)
        {
            <li>@obj.Nama</li>
        }
    </ul>    
}
else 
{
    <p>No category existed.</p>
} 

