<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Dietine</title>

    <!-- Styles -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;1,400;1,600&display=swap" rel="stylesheet">
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
    <link href="~/lib/bootstrap/dist/css/fontawesome-all.css" rel="stylesheet">
    <link href="~/lib/bootstrap/dist/css/swiper.css" rel="stylesheet">
    <link href="~/lib/bootstrap/dist/css/magnific-popup.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" />

    <!-- Favicon  -->
    <link rel="icon" href="~/images/favicon.png">
</head>
<body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg fixed-top navbar-light">
        <div class="container">

            <!-- Text Logo  -->
            @*<a class="navbar-brand logo-text page-scroll" asp-controller="Home" asp-action="Index">Dietine</a>*@

            <!-- Image Logo -->
            <a class="navbar-brand logo-image" asp-area="" asp-controller="Home" asp-action="Index"><img src="~/images/logo.svg" alt="Dietine"></a>

            <button class="navbar-toggler p-0 border-0" type="button" data-toggle="offcanvas">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link page-scroll" asp-area="" asp-controller="Home" asp-action="Index">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link page-scroll" asp-area="" asp-controller="CalorieCalculator" asp-action="Index">BMR Calculator</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link page-scroll" asp-area="" asp-controller="MealPlans" asp-action="Index">Meal Plan</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link page-scroll" asp-area=""asp-controller="Article" asp-action="Index">Article</a>
                    </li>
                    <partial name="_LoginPartial" />
                </ul>
            </div> <!-- end of navbar-collapse -->
        </div> <!-- end of container -->
    </nav> <!-- end of navbar -->
    <!-- end of navigation -->

    <div>
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <!-- Footer -->
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="footer-col first">
                        <h6>About Dietine</h6>
                        <p class="p-small">
                            Dietine is an application that will facilitate its users to help design and manage the diet program they are undergoing. Not only that, this application will also assist users in implementing a healthy lifestyle with a good diet through the healthy food information provided in this application.
                        </p>
                    </div> <!-- end of footer-col -->
                    <div class="footer-col second">
                        <p class="p-small">Copyright © <a asp-controller="Home" asp-action="Index">Dietine</a></p>
                    </div> <!-- end of footer-col -->
                    <div class="footer-col third">
                        <p class="p-small">Send your lovely suggestions to <a href="mailto:contact@site.com"><strong>kontaknya@site.com</strong></a></p>
                    </div> <!-- end of footer-col -->
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of footer -->
    <!-- end of footer -->
    <!-- Copyright -->
    <div class="copyright">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    
                </div> <!-- end of col -->
            </div> <!-- enf of row -->
        </div> <!-- end of container -->
    </div> <!-- end of copyright -->
    <!-- end of copyright -->


    <!-- Scripts -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script> <!-- jQuery for Bootstrap's JavaScript plugins -->
    <script src="~/lib/bootstrap/dist/bootstrap.min.js"></script> <!-- Bootstrap framework -->
    <script src="~/lib/jquery/dist/jquery.easing.min.js"></script> <!-- jQuery Easing for smooth scrolling between anchors -->
    <script src="~/lib/jquery/dist/jquery.magnific-popup.js"></script> <!-- Magnific Popup for lightboxes -->
    <script src="~/lib/jquery/dist/swiper.min.js"></script> <!-- Swiper for image and text sliders -->
    <script src="~/js/site.js" asp-append-version="true"></script>> <!-- Custom scripts -->

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
